  <% @players.each do |player| %>
  <tbody>
    <tr>
      <th scope="row"><%= player.id %></th>
      <td><%= player.first %></td>
      <td><%= player.last %></td>
      <td><%= player.position %></td>
      <td><%= player.hits %></td>
      <td><%= player.bats %></td>
        <td><%= player.avg.to_f %></td>
        <td><%= player.hr %></td>
        <td><%= player.rbi %></td>
        <td><%= player.sb %></td>
        <td><%= player.ops %></td>
        <td><%= player.runs %></td>
    </tr>
  </tbody>
      <% end %>
</table>

<div id="page_links">
  <%= will_paginate @players, remote: true, renderer: BootstrapPagination::Rails %>
</div>