<div id="home-title"> 
    <h1 class="text-center">Player Stats HomePage</h1>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= link_to "Player", :sort => "id" %></th>
      <th><%= link_to "First", :sort => "first" %></th>
      <th><%= link_to "Last", :sort => "last" %></th>
      <th><%= link_to "Position", :sort => "position" %></th>
      <th><%= link_to "Hits", :sort => "hits" %></th>
      <th><%= link_to "Bats", :sort => "bats" %></th>
      <th><%= link_to "Average", :sort => @batting_average %></th>
      <th><%= link_to "HomeRuns", :sort => "hr" %></th>
      <th><%= link_to "RBIs", :sort => "rbi" %></th>
      <th><%= link_to "Stolen", :sort => "sb" %></th>
      <th><%= link_to "Runs", :sort => "runs" %></th>
    </tr>
  </thead>
  <% @players.each do |player| %>
  <tbody>
    <tr>
      <th scope="row"><%= player.id %></th>
      <td><%= player.first %></td>
      <td><%= player.last %></td>
      <td><%= player.position %></td>
      <td><%= player.hits %></td>
      <td><%= player.bats %></td>
        <td><%= player.avg.to_f %></td>
        <td><%= player.hr %></td>
        <td><%= player.rbi %></td>
        <td><%= player.sb %></td>
        <td><%= player.ops %></td>
        <td><%= player.runs %></td>
    </tr>
  </tbody>
      <% end %>
</table>

<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
        


